<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">


<div layout:fragment="content" class="container" th:object="${workLog}">

    <input type="hidden" id="log-id" th:value="*{id}">

    <h2 class="border-bottom py-2 ">Work Log</h2>
    <label for="log" class="form-label"> 로그 입력 창 </label>
    <textarea rows="10" placeholder="input your work log" class="form-control" id="log" name="log" th:text="*{log}">

    </textarea>
    <label for="tag" class="form-label">태그 입력창 / 태그는 쉽표로 구분합니다.</label>
    <textarea class="form-control" id="tag" name="tag" placeholder="태그는 쉽표로 구분합니다." rows="1"
              th:text="${tagToString}">
    </textarea>
    <button th:if="${workLog.getId()}!=null" type="button" id="modify-btn" class="btn btn-primary  my-3">수정</button>
    <button th:if="${workLog.getId()}==null" type="button" id="create-btn" class="btn btn-primary  my-3">저장</button>


</div>

</html>