<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">


<div layout:fragment="content" class="container my-3">
    <div class="row border-bottom py-2">
        <div class="col">
            <h2>Work Log</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col">
            <a th:href="@{/worklog/create}" class="btn btn-primary">
                로그 등록 하기
            </a>
        </div>
        <div class="col ">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-primary" onclick="location.href='/logout'">로그아웃</button>
            </div>
        </div>
    </div>

    <div class="card my-3" th:each="worklog, loop: ${workLogs}">
        <div class="card-body">
            <div class="card-text " style="white-space: pre-line"
                 th:text="|${worklog.getLog()}|">
            </div>
            <div class="col">
                <div class="row">
                    <div th:if="${worklog.getUpdateAt()!=null}" class="d-flex justify-content-end">
                        <div class="badge bg-light text-dark">
                            <div class="mb-2">작성일</div>
                            <div th:text="${#temporals.format(worklog.getUpdateAt())}"></div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="d-flex justify-content-end">
                        <div class="me-3">
                            <button class="btn btn-sm btn-outline-secondary " name="delete-btn"
                                    th:value="${worklog.getId()}">삭제
                            </button>
                        </div>
                        <div class="">
                            <a class="btn btn-sm btn-outline-secondary"
                               th:href="@{|/worklog/create?id=${worklog.getId()}|}"
                               th:value="${worklog.getId()}">수정</a>
                        </div>
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span th:if="${worklog.getTags() != null }">Tags</span>
                    <th:block th:each="tag : ${worklog.getTags()}">
                        <span class="badge rounded-pill text-bg-info" th:text="|${tag}|"></span>
                    </th:block>
                </div>
                <div class="col text-end" th:text="|작성자: ${worklog.getUserName()}|">
                    <div class="col text-end" th:text="|작성자: ${worklog.getUserName()}|">
                    </div>
                </div>

            </div>
        </div>

    </div>
    <script src="/js/worklog.js"></script>
</div>

</html>